# App
APP_NAME=NEXUS
APP_ENV=development
DEBUG=true
API_V1_STR=/api/v1
PORT=8000

# Postgres
POSTGRES_DB=nexus
POSTGRES_USER=nexus
POSTGRES_PASSWORD=nexus
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
DATABASE_URL=postgresql+psycopg://nexus:nexus@localhost:5433/nexus

# Redis
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_DB=0
REDIS_URL=redis://localhost:6380/0

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
